<?xml version="1.0" encoding="utf-8"?>
<!--作者：朱林，邮箱：zhulinmails@163.com,微信:402755458-->
<configuration>
  <appSettings>
    <!--这个参数是关于是否背景音乐的，1为打开，0为关闭-->
    <add key="OpenMusic" value="1" />
    <!--这个参数是关于音乐文件的，放在与执行文件同目录，可以根据需要修改文件名，使其播放不同的文件 RainyMood一段巨能帮人平静心情的雨声素材.mp3 running.wav-->
    <add key="FileName" value="running.wav" />
    <!--这个参数是关于完成和警告文件的，放在与执行文件同目录，可以根据需要修改文件名，使其播放不同的文件-->
    <add key="BellFileName" value="bell.wav" />
    <!--这个参数钟声播放的次数的-->
    <add key="BellTimes" value="2" />
    <!--这个参数是关于工作时间的，默认为25分钟-->
    <add key="WorkTime" value="25" />
    <!--这个参数是关于短的休息时间的，默认为3分钟-->
    <add key="ShortBreakTime" value="2" />
    <!--这个参数是关于长的休息时间的，默认为15分钟-->
    <add key="LongBreakTime" value="8" />
    <!--这个参数是界面时钟处的文字-->
    <add key="TimerLabel" value="专注坚持" />
    <!--这个参数是关于界面标题的-->
    <add key="FormTitle" value="肥田小番茄1.01-番茄时间内集中注意力工作" />
    <!--结束任务提示文字-->
    <add key="AlterSms" value="时间已到，严于律己，宽于待人|为自己制定目标及执行计划，是唯一能超越别人的可行途径|为之，则难者亦易矣；不为，则易者亦难矣。|坚持锻炼身体，身体是革命的本钱." />
    <!--音量大小，区间15-950-->
    <add key="AudioVolume" value="100" />
    <!--屏蔽关键词-->
    <add key="Keywords" value="人民网;凤凰网;笔趣阁;凤凰咨询;文学;小说;UU看书;porn;万维读者网;凤凰资讯;动漫" />
    <!--今日番茄数量-->
    <add key="TodayTimerQuantity" value="201812151" />
    <!--番茄闹钟次数，总共用了多少个番茄钟-->
    <add key="TimerQuantity" value="788" />
    <!--是否启动不用番茄钟监视窗-->
    <add key="IscheckWindowTime" value="0" />
    <!--不干活提示窗口弹出持续的时间-->
    <add key="closeTime" value="3" />
    <!--不干活提示窗口检查时间-->
    <add key="checkWindowTime" value="60" />
    <!--关键词检查时间,秒钟为单位-->
    <add key="CheckInterval" value="10" />
    <!--日志记录时间,单位分钟-->
    <add key="LogInterval" value="15" />
    <!--关闭窗口次数-->
    <add key="CloseTimes" value="3" />
    <!--关闭提示-->
    <add key="CloseAlert" value="天下事有难易乎？为之，则难者亦易矣；不为，则易者亦难矣" />
    <!--关闭提示-->
    <add key="CloseLastAlert" value="该做的没做，不该做的做啦。处于这种状态时，不要给自己找任何借口，马上竭尽全力改变，一刻也慢不得" />
    <!--关闭提示-->
    <add key="IdleAlert" value="该做的没做，不该做的做啦。处于这种状态时，不要给自己找任何借口，马上竭尽全力改变，一刻也慢不得" />
    <!--定时休息,强制休息间隔,80分钟-->
    <add key="strongBreakInterval" value="180" />
    <!--定时休息,强制休息时间,15分钟-->
    <add key="strongBreakTime" value="20" />
    <add key="emailFromName" value="#@sina.com" />
    <add key="emailFromPwd" value="#" />
    <add key="emailFromSmtpAdd" value="smtp.sina.com" />
    <add key="emailToName" value="#@163.com" />
    <!--多久一个中等休息，比如7个番茄钟休息一次比较长的-->
    <add key="longBreakTimeTurn" value="4" />
    <!--电脑不操作多久，计时器归0-->
    <add key="NoWorkStopBreak" value="60" />
    <!--休息多久，便不再进行日志记录-->
    <add key="IdleNoLog" value="10" />
    <!--及时休息前提示-->
    <add key="BreakAlerts" value="即将开始休息，注意锻炼身体，身体是革命的本钱" />
    <!--休息按钮是否打开0,不打开，1打开-->
    <add key="BreakNoBtn" value="1" />
  </appSettings>
</configuration>
